
/*
	Colores usach:
		Naranjo: #ff7319;
		Gris: #b1b3b4;
		Azul: #0052cc;
		Gris-letras: #546e7a;
*/
*{
	color: #546e7a;
}

a{
	color: #ff7319;
}

a:hover{
	font-weight: bold;
}

p {
	text-align: justify;
}

.bold{
	font-weight: bold;
}

.brand-logo{
	font-size: 1.8rem !important;
	white-space: normal !important;
	line-height: 1;
	width: 70%;
}

@media (min-width: 500px){
	.brand-logo{		
		white-space: nowrap !important;
		line-height: 56px;
	}	
}

.brand-logo:hover{
	font-weight: normal;
}

#nav-mobile li a:hover{
	font-weight: normal;
}

.no-hover:hover{
	font-weight: normal;
}

.list-circle{
	list-style-type: disc !important;
}

.list-alpha{
	list-style-type: lower-alpha !important;
}

.list-padding{
	padding-left: 20px;
}

.panel-color{
	background-color: #b1b3b4;
	color: #FFF;
}

nav{
	background-color: #ff7319;
}

.navbar-fixed {
	margin-left: 0;
}

.navbar-fixed nav{
	width: 100%;
}

@media(min-width: 992px){
	.navbar-fixed {
		margin-left: 5%;
	}

	.navbar-fixed nav{
		width: 90%;
	}
}

.page-footer{
	width: 90%;
    margin-left: 5%;
    background-color: #ff7319 !important;
}

.card-home{
	height: 350px;
}

#denuncia .card-title{
	line-height: 0 !important;
	color: #000;
}

.card-title{
	font-size: 19px !important;
	line-height: 0 !important;
	color: #fff;
}

.context{
	color: #546e7a;
}

.icon-home{
	margin: 10px 0;
}

.icon-home .fa{
	color: #fff;
}

.tabs .tab a{
	color: #b1b3b4;
}

.tabs .tab a:hover{
	font-weight: bold;
	color: #b1b3b4;
}

.tabs .indicator{
	background-color: #b1b3b4;
}

.btn{
	background-color: #ff7319;
}

.btn:hover{
	background-color: #ff7319;
}

.btn:focus{
	background-color: #ff7319;
}

.btn-gray{
	background-color: #b1b3b4;
}
.btn-gray:hover{
	background-color: #b1b3b4;
}
.btn-gray:focus{
	background-color: #b1b3b4;
}

.denuncia-content{
	padding: 10px !important;
}

.title-denuncia{
	font-size: 12px !important;
	font-weight: bold !important;
}

@media(min-width: 380px){
	.title-denuncia{
		font-size: 15px !important;
	}
}

@media(min-width: 600px){
	.title-denuncia{
		font-size: 17px !important;
	}
}
.contacto{
	color: #fff;
}
i{
	color: #fff;
}

.contacto p i{
	font-size: 15px;
}

.contacto p a{
	color: #fff;
}
.contacto p a:hover{
	font-weight: bold;
}
.dato-contacto{
	margin-top: 10px !important;
	margin-bottom: 5px !important;
	font-weight: bold;
}

.collapsible-header{
	line-height: 2rem;
}
.border-side-nav{
	border-bottom: #b1b3b4 solid 1px;
}
.quote{
	font-style: italic;
}
.btn-denuncia{
	margin-bottom: 20px;
}
.white-text a{
	color: #fff;
}
.btn-denuncia:hover{
	font-weight: normal;
}