
/*
	Colores usach:
		Naranjo: #ff7319;
		Gris: #b1b3b4;
		Azul: #0052cc;
		Gris-letras: #546e7a;
*/
*, a{
	color: #546e7a;
}

.list-circle{
	list-style-type: disc !important;
}

.list-alpha{
	list-style-type: lower-alpha !important;
}

.list-padding{
	padding-left: 20px;
}

.panel-color{
	background-color: #b1b3b4;
	color: #FFF;
}

nav{
	background-color: #ff7319;
}

.navbar-fixed {
	margin-left: 0;
}

.navbar-fixed nav{
	width: 100%;
}

@media(min-width: 598px){
	.navbar-fixed {
		margin-left: 10%;
	}

	.navbar-fixed nav{
		width: 80%;
	}
}

.page-footer{
	width: 80%;
    margin-left: 10%;
    background-color: #ff7319 !important;
}

.card-home{
	height: 400px;
}

#denuncia .card-title{
	line-height: 0 !important;
	color: #000;
}

.card-title{
	line-height: 0 !important;
	color: #fff;
}

.context{
	color: #546e7a;
}

.icon-home{
	margin: 10px 0;
}

.icon-home .fa{
	color: #fff;
}

.tabs .tab a{
	color: #b1b3b4;
}

.tabs .tab a:hover{
	font-weight: bold;
	color: #b1b3b4;
}

.tabs .indicator{
	background-color: #b1b3b4;
}

.btn{
	background-color: #ff7319;
}

.btn:hover{
	background-color: #ff7319;
}

.btn:focus{
	background-color: #ff7319;
}

.btn-gray{
	background-color: #b1b3b4;
}
.btn-gray:hover{
	background-color: #b1b3b4;
}
.btn-gray:focus{
	background-color: #b1b3b4;
}

.denuncia-content{
	padding: 10px !important;
}

.title-denuncia{
	font-size: 18px !important;
	font-weight: bold !important;
}
.contacto{
	color: #fff;
}
i{
	color: #fff;
}

.contacto p i{
	font-size: 15px;
}

.contacto p a{
	color: #fff;
}
.contacto p a:hover{
	font-weight: bold;
}
.dato-contacto{
	margin-top: 10px !important;
	margin-bottom: 5px !important;
	font-weight: bold;
}
a:hover{
	font-weight: bold;
}