<div class="row">	
    <div class="col hide-on-small-only m3">
        <a href="http://www.udesantiago.cl/" target="_blank">
            <img class="responsive-img" src="images/logo-usach-naranjo.png"></img>
        </a>
    </div>
    <div class="col s12 m9 context">
        <div class="row hide-on-med-and-up">
            <div class="col s3 valign-wrapper">
                <a href="http://www.udesantiago.cl/" target="_blank" >
                    <img class="responsive-img" src="images/logo-usach-naranjo.png"></img>
                </a>
            </div>
            <div class="col s9">
                <h4>Vías de denuncia</h4>
            </div>
        </div>
        <h4 class="hide-on-small-only">Vías de denuncia</h4>
        <p>
            Si una persona es víctima o tiene conocimiento de una falta relacionada con Violencia tipificada en el marco legal nacional deberá realizar la denuncia en: Carabineros de Chile, Policía de Investigaciones PDI, Juzgado de Familia o ante el Ministerios Público.
        </p>
        <p>
            El Código Procesal Penal Artículo 175 establece la responsabilidad de funcionarios/as públicos a denunciar sospecha o conocimiento de delitos. Así:
        </p>
        <p>
            Estarán obligados a denunciar:
        </p>
        <ul class="list-padding">
            <li class="list-alpha">Los miembros de Carabineros de Chile, de la Policía de Investigaciones de Chile y de Gendarmería, todos los delitos que presenciaren o llegaren a su noticia. Los miembros de las Fuerzas Armadas estarán también obligados a denunciar todos los delitos de que tomaren conocimiento en el ejercicio de sus funciones;</li>
            <li class="list-alpha">Los fiscales y los demás empleados públicos, los delitos de que tomaren conocimiento en el ejercicio de sus funciones y, especialmente, en su caso, los que notaren en la conducta ministerial de sus subalternos;</li>
            <li class="list-alpha">Los jefes de puertos, aeropuertos, estaciones de trenes o buses o de otros medios de locomoción o de carga, los capitanes de naves o de aeronaves comerciales que naveguen en el mar territorial o en el espacio territorial, respectivamente, y los conductores de los trenes, buses u otros medios de transporte o carga, los delitos que se cometieren durante el viaje, en el recinto de una estación, puerto o aeropuerto o a bordo del buque o aeronave;</li>
            <li class="list-alpha">Los jefes de establecimientos hospitalarios o de clínicas particulares y, en general, los profesionales en medicina, odontología, química, farmacia y de otras ramas relacionadas con la conservación o el restablecimiento de la salud, y los que ejercieren prestaciones auxiliares de ellas, que notaren en una persona o en un cadáver señales de envenenamiento o de otro delito, y</li>
            <li class="list-alpha bold">Los directores, inspectores y profesores de establecimientos educacionales de todo nivel, los delitos que afecten a los alumnos o que hubieren tenido lugar en el establecimiento.</li>
        </ul>
        <p>
            La denuncia realizada por alguno de los obligados en este artículo eximirá al resto.
        </p>
        <p>
            Más información en: <a href="http://www.leychile.cl/Navegar?idNorma=198675">NORMAS ADECUATORIAS DEL SISTEMA LEGAL CHILENO A LA REFORMA PROCESAL PENAL</a>
        </p>
    </div>
    <div class="row">
        <div class="col s12">
            <div>Elija el tipo de denuncia:</div>
            <button ng-click="denuncia_show = 'nacional'" class="waves-effect waves-light btn">Nacional</button>
            <button ng-click="denuncia_show = 'usach'" class="waves-effect waves-light btn">U. de Santiago de Chile</button>
        </div>
    </div>
    <div class="col s12" ng-show="denuncia_show == 'nacional'">
        <h3>Denuncia nacional</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="row">
            <div class="col s6 l2 offset-l1">
                <div class="card panel-color">
                    <div class="card-content denuncia-content white-text">
                        <span class="card-title title-denuncia">Juzgados de Familia</span>
                        <div class="contacto">
                            <p class="dato-contacto"><i class="fa fa-globe" aria-hidden="true"></i>
                                <a href="http://familia.minjusticia.gob.cl/media/2013/06/Juzgados-de-Familia.swf" target="_blank">Ir al sitio <i class="material-icons">open_in_new</i></a>
                            <p class="dato-contacto"><i class="fa fa-phone" aria-hidden="true"></i>Teléfono</p>
                            <p>(56-2) 26743100</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 l2">
                <div class="card panel-color">
                    <div class="card-content denuncia-content white-text">
                        <span class="card-title title-denuncia">Carabineros</span>
                        <div class="contacto">
                            <p class="dato-contacto"><i class="fa fa-globe" aria-hidden="true"></i>
                                <a href="http://www.carabineros.cl/" target="_blank">Ir al sitio <i class="material-icons">open_in_new</i></a>
                            </p>
                            <p class="dato-contacto"><i class="fa fa-phone" aria-hidden="true"></i>Teléfono</p>
                            <p>149</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 l2">
                <div class="card panel-color">
                    <div class="card-content denuncia-content white-text">
                        <span class="card-title title-denuncia">Policía de Investigaciones</span>
                        <div class="contacto">
                            <p class="dato-contacto"><i class="fa fa-globe" aria-hidden="true"></i>
                                <a href="http://www.pdichile.cl/" target="_blank">Ir al sitio <i class="material-icons">open_in_new</i></a>
                            </p>
                            <p class="dato-contacto"><i class="fa fa-phone" aria-hidden="true"></i>Teléfono</p>
                            <p>134 - 2 27080000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 l2">
                <div class="card panel-color">
                    <div class="card-content denuncia-content white-text">
                        <span class="card-title title-denuncia">Ministerio Público</span>
                        <div class="contacto">
                            <p class="dato-contacto"><i class="fa fa-globe" aria-hidden="true"></i>
                                <a href="http://www.fiscaliadechile.cl/Fiscalia/index.do" target="_blank">Ir al sitio <i class="material-icons">open_in_new</i></a>
                            </p>
                            <p class="dato-contacto"><i class="fa fa-phone" aria-hidden="true"></i>Teléfono</p>
                            <p>600 333 0000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 offset-s3 l2">
                <div class="card panel-color">
                    <div class="card-content denuncia-content white-text">
                        <span class="card-title title-denuncia">Servicio Nacional de la Mujer</span>
                        <div class="contacto">
                            <p class="dato-contacto"><i class="fa fa-globe" aria-hidden="true"></i>
                                <a href="http://portal.sernam.cl/?m=programa&i=71" target="_blank">Ir al sitio <i class="material-icons">open_in_new</i></a>
                            </p>
                            <p class="dato-contacto"><i class="fa fa-phone" aria-hidden="true"></i>Teléfono</p>
                            <p>2 25496365</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12" ng-show="denuncia_show == 'usach'">
        <h3>Denuncia U. de Santiago de Chile</h3>


        <div class="col m9 offset-m3">
            <p class="quote">
                La violencia de género ha pasado de ser una cuestión de la esfera privada, a ser el centro de un debate público que parte de la premisa de que una sociedad que pretende garantizar unas condiciones de calidad de vida, no puede permitir que una realidad de este tipo tenga lugar. Personas individuales, colectivos e instituciones se han puesto de acuerdo en denunciar esta realidad e iniciar un proceso de establecimiento de medidas para la prevención y erradicación de la violencia de género.
            </p>
        </div>
        <div class="col m6 offset-m6">
            <p class="quote">
                Rosa Larena Fernández; Silvia Molina Roldán. Violencia de Género en las Universidades: Investigaciones y medidas para prevenirla. Revista Trabajo Social Global 2010, 1 (2) 202-219. 
            </p>
        </div>
        <p>
            La Universidad es un reflejo de las situaciones que se viven en la sociedad general, por lo que nuestra Casa de Estudios no está exenta de estas situaciones que agreden la dignidad de las personas. Por ello a través de este mecanismo buscamos garantizar un ambiente libre de discriminación, hostigamiento, y violencia de género.
        </p>
        <p>
            La Universidad de Santiago de Chile a través de estas herramientas de denuncia propende que toda la Comunidad Universitaria tenga derecho a una vida sin violencia. Por ello, cuenta con ámbitos de confianza y seguridad para que las personas afectadas puedan exponer libremente la situación vivida, poner en funcionamiento los procedimientos de investigaciones y, si aplican, las sanciones correspondientes.
        </p>
        <p>
            Cuando se realiza una denuncia interna se inicia una investigación sumarial. El órgano competente de recibir, investigar y sancionar en nuestra Comunidad es la <a href="http://www.usach.cl/secretaria-general">Secretaría General</a> a través de la Dirección de Asistencia Jurídica.
        </p>
        <p>
            <span class="bold">Importante: </span>El Punto Focal de Género no recibe denuncias y no realiza investigaciones.
        </p>

        <h5>¿Quién puede hacer una denuncia?</h5>
        <p>
            Cualquier persona vinculada a la universidad (estudiante, académico/a o funcionaria/o). Sea la persona afectada y están Obligados/as a denunciar -de acuerdo al Artículo 175 del Código procesal Penal, para la institución compete el numeral e. “los directores, inspectores y profesores de establecimientos educacionales de todo nivel, los delitos que afecten a los alumnos o que hubieren tenido lugar en el establecimiento”.
        </p>

        <h5>¿Es lo mismo denunciar situaciones de Violencia de Género en la Universidad que en carabineros, la PDI, juzgados de familia o el Ministerio Público?</h5>
        <p>
            No, la Universidad de Santiago de Chile como institución educativa cuenta con un reglamento interno que busca garantizar las relaciones de convivencia y bienestar de toda la comunidad universitaria pero no puede sustituir a la justicia penal.
        </p>
        <p>
            Lo que quiere decir que la Universidad puede impartir Sanciones disciplinarias, sumariales pero no penales. Si es que existiese delito, que se haga la denuncia en las instituciones correspondientes en carabineros, la PDI, juzgados de familia o el Ministerio Público. La vía Denuncia Nacional en este enlace: (llevar lo que tenemos de denuncia nacional).
        </p>

        <h5>¿Cómo se realiza la denuncia en la Universidad de Santiago de Chile?</h5>
        <p>
            Se pueden seguir dos caminos: 
        </p>
        <ol class="list-padding">
            <li>Realizar la denuncia mediante una carta dirigida al rector de la Universidad que debe tener:</li>
            <ol>
                <li class="list-alpha">Nombre de la persona que realiza la denuncia</li>
                <li class="list-alpha">Correo o teléfono</li>
                <li class="list-alpha">Unidad administrativa o académica </li>
                <li class="list-alpha">Nombre de la persona a la que denuncia</li>
                <li class="list-alpha">Correo o teléfono (si lo tiene)</li>
                <li class="list-alpha">Unidad administrativa o académica (si lo tiene)</li>
                <li class="list-alpha">Breve descripción de los hechos de Violencia de género (acusación y contexto de la situación)</li>
                <li class="list-alpha">Pruebas (si las tiene)</li>
                <p>
                    Esta carta debe ser entregada en la Oficina de Partes de la Rectoría o directamente a la autoridad.
                </p>

                <button ng-click="download()" class="btn-denuncia waves-effect waves-light btn btn-gray"><i class="fa fa-download" aria-hidden="true"></i> Hemos preparado un modelo de carta que puedes descargar acá</button>
            </ol>
            <li>Otra forma de denunciar situaciones de Violencia de Género</li>
            <ul class="list-padding">
                <li class="list-circle"><span class="bold">Académicas/os y funcionarios/as: </span> Dirigirse a su jefe directo, y si fuera él/ella quien es el /la protagonista de estos hechos al /la su superior de su jefatura, o en el Departamento de Recursos Humanos.</li>
                <li class="list-circle"><span class="bold">Estudiantes</span> Presentar la denuncia al Director/a de carrera o decano/a o autoridad académica y realizar la denuncia, se recomienda hacerla de forma escrita. También puede enviar una carta a la Vicerrectoría de Apoyo al Estudiante.</li>
                <li class="list-circle">Para personas que son parte de los servicios generales (aseo, jardines o seguridad) deben enviar la carta al rector.</li>
            </ul>
        </ol>
        
        <h5>¿Cuales son los derechos de quien denuncia?</h5>
        <ol class="list-padding">
            <li>Todas las personas que realizan una denuncia deben tener Asesoramiento gratuito. </li>
            <li>Se debe velar por la confidencialidad, el respeto y privacidad. </li>
            <li>Acceso a procedimientos de contención y acompañamiento.</li>
            <li>Debe tener todas las garantías de No re‐victimización. La investigación debe realizarse tratando de evitar la reiteración innecesaria del relato de los hechos.</li>
            <li>Todas las acciones se realizarán bajo los principios y derechos reconocidos por la Convención Interamericana para prevenir, sancionar y erradicar la violencia contra las mujeres.</li>
        </ol>

        <h5>¿Cuáles son las resoluciones o normas internas sobre la temática?</h5>
        <p class="bold">Estudiantil</p>
        <p>
            Decreto Universitario N°206. Reglamento sobre Responsabilidad Estudiantil y Procedimientos Disciplinarios. 1986 
        </p>
        <p>
            N° 1117 Modifica decreto Universitario n°206. 14/12/1989
        </p>
        <p>
            N° 05472 Sustitución del Artículo 12. Sobre Reglamento sobre Responsabilidad Estudiantil y Procedimientos Disciplinarios. 12/10/2001
        </p>

        <p class="bold">Trabajadores/as: Académicos/as y funcionarios/as</p>
        <p>
            Instrucciones sobre Acoso Laboral. 27/4/2016
        </p>
    </div>
</div>